<header class="site-header">
    <nav>
        <a href="/" class="logo">
            <img src="/assets/GAAA-Logo.jpg" alt="GAAA Logo">
        </a>

        <button class="menu-toggle" aria-label="Menu">
            <i class="fas fa-bars"></i>
        </button>

        <ul class="nav-links">

            <li><a href="/">Home</a></li>

            <li class="dropdown">
                <a href="#">Issues & Advocacy <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="/issues/managed-intake.html">Managed Intake</a></li>
                    <li><a href="/issues/pet-overpopulation.html">Pet Overpopulation</a></li>
                    <li><a href="/issues/community-cats-tnr.html">Community Cats & TNR</a></li>
                    <li><a href="/issues/transparency-accountability.html">Transparency & Accountability</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#">Take Action <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="/act/">Animal Protection Act</a></li>
                    <li><a href="/county-leadership/">Contact County Leadership</a></li>
                    <li><a href="/petition/">Sign the Petition</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#">Get Involved <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="/volunteer-shelter/">Volunteer at the Shelter</a></li>
                    <li><a href="/council-meetings/">Attend Council Meetings</a></li>
                    <li><a href="/join-our-team/">Join Our Team</a></li>
                </ul>
            </li>

            <li><a href="/resources/">Resources</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>

        </ul>
    </nav>
</header>
