<header class="site-header">
    <nav>
        <a href="{{ site.baseurl }}/" class="logo">
            <img src="/assets/GAAA-Logo.jpg" alt="GAAA Logo">
        </a>

        <button class="menu-toggle" aria-label="Menu">
            <i class="fas fa-bars"></i>
        </button>

        <ul class="nav-links">

            <li><a href="{{ site.baseurl }}/">Home</a></li>

            <li class="dropdown">
                <a href="#">Issues & Advocacy <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="{{ site.baseurl }}/issues/shelter-overcrowding/">Shelter Overcrowding</a></li>
                    <li><a href="{{ site.baseurl }}/issues/pet-overpopulation/">Pet Overpopulation</a></li>
                    <li><a href="{{ site.baseurl }}/issues/community-cats-tnr/">Community Cats & TNR</a></li>
                    <li><a href="{{ site.baseurl }}/issues/transparency-accountability/">Transparency & Accountability</a></li>
                </ul>
            </li>

            <li class="dropdown action-nav">
                <a href="#">Take Action <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="{{ site.baseurl }}/act/">Animal Protection Act</a></li>
                    <li><a href="{{ site.baseurl }}/county-leadership/">Contact County Leadership</a></li>
                    <li><a href="{{ site.baseurl }}/petition/">Sign the Petition</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#">Get Involved <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="{{ site.baseurl }}/volunteer-shelter/">Volunteer at the Shelter</a></li>
                    <li><a href="{{ site.baseurl }}/council-meetings/">Attend Council Meetings</a></li>
                    <li><a href="{{ site.baseurl }}/join-our-team/">Join Our Advocacy Team</a></li>
                </ul>
            </li>

            <li><a href="{{ site.baseurl }}/resources/">Resources</a></li>
            <li><a href="{{ site.baseurl }}/about/">About</a></li>
            <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>

        </ul>
    </nav>
</header>
