<header class="site-header">
    <nav>
        <a href="/" class="logo">
            <img src="/assets/GAAA-Logo.jpg" alt="Gwinnett Animal Advocacy Alliance logo">
        </a>

        <button
            class="menu-toggle"
            type="button"
            aria-label="Open navigation menu"
            aria-expanded="false">
            <i class="fas fa-bars" aria-hidden="true"></i>
        </button>

        <ul class="nav-links">

            <li>
                <a href="/">Home</a>
            </li>

            <li class="dropdown">
                <a href="/issues/">
                    Issues &amp; Advocacy
                    <i class="fas fa-chevron-down" aria-hidden="true"></i>
                </a>

                <ul class="submenu">
                    <li><a href="/issues/managed-intake/">Managed Intake</a></li>
                    <li><a href="/issues/medical-care/">Medical Care</a></li>
                    <li><a href="/issues/cameras/">Camera Coverage</a></li>
                    <li><a href="/issues/community-cats-tnr/">Community Cats &amp; TNR</a></li>
                    <li><a href="/issues/enrichment/">Canine Enrichment</a></li>
                    <li><a href="/issues/shelter-accessibility/">Accessible Animal Services</a></li>
                    <li><a href="/issues/volunteer-engagement/">Volunteer Engagement</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="/take-action/">
                    Take Action
                    <i class="fas fa-chevron-down" aria-hidden="true"></i>
                </a>

                <ul class="submenu">
                    <li>
                        <a href="/county-leadership/">
                            Contact County Leadership
                        </a>
                    </li>

                    <li>
                        <a
                            href="https://www.change.org/p/petition-for-an-independent-animal-welfare-task-for-gwinnett-county-animal-shelter"
                            target="_blank"
                            rel="noopener noreferrer">
                            Sign the Petition
                        </a>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="/get-involved/">
                    Get Involved
                    <i class="fas fa-chevron-down" aria-hidden="true"></i>
                </a>

                <ul class="submenu">
                    <li>
                        <a href="/get-involved/volunteer-shelter/">
                            Volunteer at the Shelter
                        </a>
                    </li>

                    <li>
                        <a href="/get-involved/council-meetings/">
                            Attend Council Meetings
                        </a>
                    </li>

                    <li>
                        <a href="/get-involved/join-our-team/">
                            Join Our Team
                        </a>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="/about/">
                    About Us
                    <i class="fas fa-chevron-down" aria-hidden="true"></i>
                </a>

                <ul class="submenu">
                    <li>
                        <a href="/about/">Who We Are</a>
                    </li>

                    <li>
                        <a href="/journey/">
                            Our Advocacy Journey
                        </a>
                    </li>

                    <li>
                        <a href="/contact/">Contact Us</a>
                    </li>
                </ul>
            </li>

             <li>
                <a href="/resources/">Resources</a>
            </li>

        </ul>
    </nav>
</header>
